body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

nav{
    display: block;
    background: #002f34;
    margin: 0;
    color: white;
}

.logo{
    font-size: 2.5em;
    color: #23e5db;
    font-weight: bold;
}

.container{
    padding: 0.75em 8.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.lang{
    display: inline-block;
}

.navbar-item{
    display: inline-block;
    margin: 0 1em;
    /* padding: 0 0.5em; */
}

.account-name{
    margin-left: 8px;
}

strong{
    font-size: 16px;
}

.button{
    padding: 0.75em 1.5em;
    color: #002f34;
    background-color: white;
    border-radius: 5px  ; 
    border: white solid 1px;   
    cursor: pointer;
}

a{
    text-decoration: none;
    color: white;
}